@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 0, 0, 0;
    --background: 214, 219, 220;
    --color-primary: #0e0e10;
    --color-secondary: #b9a15e;
    --color-accent: #fce5a0;
  }
}

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
}